# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\UFCG\4º RAE\LEDA\R02-01-Rot-RecursiveSorting-Quick3-Merge-environment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
